[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
paho-mqtt = "==1.6.1"

[dev-packages]

[requires]
python_version = "3.12"

